:root {
  --primary-color: #A38172;
  --dark-primary-color: #544947;
  --light-primary-color: #F8E9DA;
  --transparent-white: rgba(255, 255, 255, 0.45);
  --transparent-dark-primary-color: rgba(84, 73, 71, 0.55);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  display: flex;
  flex-direction: column;
  background-image: url('/static/images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;  
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

body::-webkit-scrollbar {
  display: none;
}




#center-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 4vh;
  background-color: var(--transparent-white);
  border-radius: 10px;
  padding: 5vh 5vw;
  color: var(--dark-primary-color);
  width: 75vw;
  margin-bottom: 20px;
}

#top-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.daymonth {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  gap: 10px;
}

#month {
  font-family: "Bungee", sans-serif;
  font-size: 24px;
}

#day {
  font-weight: bold;
  font-size: 24px;
  margin-left: 30px;
}

#journal {
  height: 55vh;
  width: 100%;
  background-color: var(--transparent-white);
  border-radius: 8px;
  border: 2px solid var(--transparent-dark-primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}

#journal-input {
  background-color: transparent;
  color: var(--dark-primary-color);
  height: 90%;
  width: 95%;
  text-align: left;
  padding: 10px 15px;
  resize: none;
  border: none;
}

#journal-input:focus {
  border: none;
  outline: none;
}

#bottom-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  margin-top: 2vh;
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;        
  font-size: 12px;
  padding: 10px 20px;
  margin-left: 2vw;
  font-family: "Bungee", sans-serif;
  font-weight: 300;
}

button:hover {
  background-color: transparent;
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
}

#prompt {
  background-color: var(--dark-primary-color);
  color: white;
  border-radius: 10px;
  border: 2px solid var(--light-primary-color);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 25px;
  min-width: 50vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#prompt-title {
  font-family: "Bungee", sans-serif;
  color: var(--light-primary-color);
  margin-bottom: 5px;
}

#prompt-text {
  text-align: left;
}

#close {
  background-color: transparent;
  color: var(--light-primary-color);
  border: none;
  font-family: "Bungee", sans-serif;
  align-self: flex-end;
  padding: 0px;
  margin: 0px;
}

/* AI things */
.separator {
  border-top: 3px dotted var(--dark-primary-color);
  margin: 30px 0;
  width: 100%;
  display: none;
}

#analysis-container {
  display: none;
  background-color: var(--transparent-white);
  border-radius: 8px;
  border: 2px solid var(--transparent-dark-primary-color);
  min-height: 30vh;
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  box-sizing: border-box;
  position: relative
}

#analysis-title {
  font-family: "Bungee", sans-serif;
  font-size: 20px;
  color: var(--dark-primary-color);
  margin-bottom: 15px;
}

#analysis-text {
  color: var(--dark-primary-color);
  font-family: 'Roboto Mono', monospace;
  white-space: pre-wrap;
  line-height: 1.5;
}

.font-size-selector:hover {
	background-color: rgba(233,230,220,1);
}

#back{
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-right: 30px;
}
#close-analysis {
  background-color: transparent;
  color: var(--dark-primary-color);
  border: none;
  font-family: "Bungee", sans-serif;
  padding: 5px;
  margin: 0px;
  cursor: pointer;
  font-size: 16px;
  z-index: 10;
  position: absolute; 
  top: 10px; 
  right: 15px;
}