:root {
  --primary-color: #A38172;
  --dark-primary-color: #544947;
  --light-primary-color: #F8E9DA;

  --transparent-white: rgba(255, 255, 255, 0.45);

  --transparent-dark-primary-color: rgba(84, 73, 71, 0.55);

  --temp: #EECDBD
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  display: flex;
  flex-direction: column;
  background-color: var(--temp);

  background-image: url('/static/images/background.png');
  background-size: cover;         /* 🚨 THIS makes it fill and crop */
  background-position: center;    /* center it in the viewport */
  background-repeat: no-repeat;   /* don’t tile the image */
  height: 100vh;                  /* full viewport height */
  width: 100vw;  
}

#title {
  font-size: 750%;
  color: var(--dark-primary-color);
  font-family: "Bungee", sans-serif;
  background-color: transparent;
}

#subtitle {
  font-size: 100%;
  color: var(--dark-primary-color);
  background-color: transparent;
  margin-top: 0px;
}

#center-container {
    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    align-self: center;
    margin-top: 20vh;
    flex-direction: column;
    text-align: center;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;        
    font-size: 12px;
    padding: 10px 20px;
    margin: 2vh;
    font-family: "Bungee", sans-serif;
    font-weight: 300;
    width: 20vw
}
button:hover {
    background-color: transparent;
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
}

#signin{
  margin-top: 5vh;
 
}