<!DOCTYPE html><html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Bungee&display=swap" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="{{ url_for('static', filename='landing_page.css') }}">	<title>Document</title>
</head>
<body>

	<div id="center-container">
		<span id="title">Bloopi</span>
		<span id="subtitle">A personalized mental health support app that evolves with you</span>
		<button id="signin">Sign In</button>
		<button id="signup">Sign up</button>
	</div>

	

	<script>
		document.getElementById("signin").onclick = function() {
			window.location.href = "{{ url_for('signin_page') }}";
		};

		document.getElementById("signup").onclick = function() {
			window.location.href = "{{ url_for('signup_page') }}";
		};
	</script>
</body>
</html>