* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.v1_3 {
  width: 100vw;
  height: 100vh;
  background: url("../images/v1_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.title {
  width: 963px;
  color: rgba(78,68,57,1);
  position: absolute;
  top: 244px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Bungee;
  font-weight: Regular;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.subtitle {
  width: 100%;
  color: rgba(78,68,57,1);
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Roboto Mono;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.boxin {
  width: 550px;
  height: 100px;
  background: rgba(255,250,248,0.699999988079071);
  opacity: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 659px;
  border: 3px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.signin {
  width: 127px;
  color: rgba(78,68,57,1);
  position: absolute;
  top: 688px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Roboto Mono;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.boxup {
  width: 550px;
  height: 100px;
  background: rgba(255,255,255,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 787px;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid rgba(78,68,57,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.signup {
  width: 127px;
  color: rgba(78,68,57,1);
  position: absolute;
  top: 808px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Roboto Mono;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}

.v5_23 {
  width: 106px;
  color: rgba(78,68,57,1);
  position: absolute;
  top: 63px;
  left: 22px;
  font-family: Roboto Mono;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v5_25 {
  width: 106px;
  color: rgba(78,68,57,1);
  position: absolute;
  top: 63px;
  left: 239px;
  font-family: Roboto Mono;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}



.navbar {
  display: flex;
  gap: 40px;
  position: absolute;
  top: 36px;
  left: 50px;
}

.nav-item {
  padding: 16px 24px;
  background: rgba(255, 255, 255, 0.5);
  border:2px solid rgba(78, 68, 57, 1);
  border-radius: 10px;
  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
  color: rgba(78, 68, 57, 1);
  text-align: center;
}