<!DOCTYPE html><html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Bungee&display=swap" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="{{ url_for('static', filename='landing_page.css') }}">	<title>Document</title>
</head>
<body>
	<div id="navbar">
		<button class="nav-item">Home</button>
		<button class="nav-item">Journal</button>
		<button class="nav-item">Chatbot</button>
		<button class="nav-item">Emotion Analysis</button>
	</div>

	<div id="center-container">
		<button id="title">Bloopi</button>
		<button id="subtitle">subtitle subtitle subtitle subtitle subtitle subtitle subtitle </button>
		<button id="signin">Sign In</button>
		<button id="signup">Sign up</button>
	</div>

	

	
</body>
</html>