<!DOCTYPE html><html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Bungee&display=swap" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="{{ url_for('static', filename='landing_page.css') }}">	<title>Document</title>
</head>
<body>
	<div id="navbar">
		<button class="nav-item">Home</button>
		<button class="nav-item">Journal</button>
		<button class="nav-item">Chatbot</button>
		<button class="nav-item">Emotion Analysis</button>
	</div>

	<div id="center-container">
        <span class="subtitle">Welcome to</span>
		<span id="title">Bloopi!</span>
		<span class="subtitle">subtitle subtitle subtitle subtitle subtitle</span>
		
        <span id="username">Sign In</button>
        <input type="text" id="username-input" placeholder="Username" />
        <span id="password">Password</button>
        <input type="password" id="password-input" placeholder="Password" />
        <hr style="width:50%;text-align:left;margin-left:0">

        <button id="google">idk google wooo</button>




	</div>

	

	
</body>
</html>